:root {
    --primary-color: #0078d4;
    --secondary-color: #15183a;
    --black: #000;
    --white: #fff;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto 0 auto;
}

.gallery-container a {
    text-decoration: none;
}

.album-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    border: solid var(--secondary-color);
    color: #fff;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-container .album-container:hover  {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.loading-btn {
    background-color: var(--primary-color);
    color: var(--white);
    width: 200px;
    font-size: 1em;
    padding: 1em 1.5em;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 45%;
    bottom: 0;
    margin-top: 15px;
    margin-bottom: 60px;
}

.photo-container {
    width: 160px;
    height: 280px;
    padding: 12px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    border: solid var(--secondary-color);
    color: #fff;
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    border-radius: 4px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.photo-container img {
    border-radius: 4px;
}

.photo-container h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 160px;
}

.main-album-btn {
    border: none;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.login-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    padding: 46px;
    border: solid 1px rgb(160, 160, 160);
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -8px 7px 8px -5px rgba(112,112,112,0.75);
-webkit-box-shadow: -8px 7px 8px -5px rgba(112,112,112,0.75);
-moz-box-shadow: -8px 7px 8px -5px rgba(112,112,112,0.75);
    box-shadow: -8px 7px 8px -5px rgba(112,112,112,0.75);
-webkit-box-shadow: -8px 7px 8px -5px rgba(112,112,112,0.75);
-moz-box-shadow: -8px 7px 8px -5px rgba(112,112,112,0.75);
}

.login-container .ms-TextField.is-required.ms-TextField--underlined, .login-container .flex.justify-end {
    margin: 4px 0;
}

.login-container span.font-extrabold.css-79 {
    margin-bottom: 8px;
}

@-webkit-keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    }
    }
    
    @keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
    }
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}